<!DOCTYPE HTML>
<html>
<head>
    <title> Proyecto Quiz: Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style/css'/>
</head>
<body>
<h1> Autores</h1>
<a href="/">Home</a>
<a href="/quizzes">Quizzes</a>
<p>
    Víctor García González</p>
<p>VICTOR</p>
    <img src="/images/desdentao.jpg" width="600" />


</body>
</html>